In [5]:
my_set = {1, 2.6, 3+5j, 0, True, False, "Abhishek"}

In [6]:
print(type(my_set))

<class 'set'>

In [7]:
my_set

{(3+5j), 0, 1, 2.6, 'Abhishek'}

In [8]:
print(my_set)

{0, 1, 2.6, (3+5j), 'Abhishek'}

In [9]:
len(my_set)

5

In [10]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'cherry', 'banana'}

In [11]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [12]:
# for adding items in set use add() method.

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'cherry', 'orange', 'banana'}

In [13]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'cherry', 'pineapple', 'mango', 'apple', 'papaya', 'banana'}

In [14]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'apple', 'kiwi', 'orange', 'banana'}

In [15]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [16]:
thisset = {"apple", "cherry"}

thisset.remove("banana")

print(thisset)

KeyError: 'banana'

In [17]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [18]:
thisset = {"apple", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [19]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'cherry', 'banana'}

In [20]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [21]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'b', 1, 2, 3, 'c', 'a'}

In [22]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{'b', 1, 2, 3, 'c', 'a'}

In [23]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{'b', 1, 2, 3, 'John', 'cherry', 'c', 'bananas', 'apple', 'a', 'Elena'}

In [27]:
# using pipe - |  
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{'b', 1, 2, 3, 'John', 'cherry', 'c', 'bananas', 'apple', 'a', 'Elena'}

In [25]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{'b', 1, 2, 3, 'c', 'a'}

In [28]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [30]:
# using ampersand -- &
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [31]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}