In [1]:
# Strings -- "",'', """""", str() --> Set of characters(a-z or A-Z).

In [2]:
My_Name = "Abhishek"
print(type(My_Name))
print(My_Name)

<class 'str'>
Abhishek

In [3]:
# Problem -- 
msg = ""Abhishek" got 80 marks in maths."
print(msg)

SyntaxError: invalid syntax (4103463311.py, line 2)

In [8]:
# msg = '"Abhishek" got 80 marks in maths.'
# msg = "\"Abhishek\" got 80 marks in maths."
msg = '\'Abhishek\' got 80 marks in maths.'
print(msg)

'Abhishek' got 80 marks in maths.

In [5]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [9]:
print(My_Name[0])

A

In [11]:
# Loop Through String
for i in My_Name:
    print(i)

A
b
h
i
s
h
e
k

In [12]:
print(len(My_Name))

8

In [13]:
print("i" in My_Name)

True

In [14]:
print("80" in msg)

True

In [15]:
print("80" not in msg)

False

## Slicing --> [Start:End] --> Start is going to include in my string and End will be excluded.

In [18]:
# Indexing from left -- Positive Indexing
print(My_Name[:4])
print(My_Name[0:4])

Abhi
Abhi

In [19]:
# Indexing from Right -- Negative Indexing
print(My_Name[:-4])
print(My_Name[-8:-4])

Abhi
Abhi

In [20]:
print(My_Name[4:])
print(My_Name[4:8])

shek
shek

In [21]:
My_Name

'Abhishek'

In [22]:
My_Name.lower()

'abhishek'

In [23]:
My_Name.upper()

'ABHISHEK'

In [24]:
mY_nAme = '       Manish     '
mY_nAme

'       Manish     '

In [28]:
mY_nAme = mY_nAme.strip()

In [29]:
mY_nAme

'Manish'

In [27]:
My_Name

'Abhishek'

In [30]:
text = "Hello My Name is Manish."
len(text)

24

In [31]:
text.replace("H","J")

'Jello My Name is Manish.'

In [32]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [33]:
text.split(" ")

['Hello', 'My', 'Name', 'is', 'Manish.']

In [34]:
# Placeholders and Modifiers
# A placeholder can contain variables, operations, functions, and modifiers to format the value.
# A placeholder can include a modifier to format the value.
# A modifier is included by adding a colon : followed by a legal formatting type, like .2f which means fixed point number with 2 decimals

In [35]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [36]:
print("Hello, World!")
print("Hello, World!")
print("Hello, World!")

Hello, World!
Hello, World!
Hello, World!

In [37]:
print("Hello, World!\nHello, World!\nHello, World!")

Hello, World!
Hello, World!
Hello, World!

In [38]:
print("Hello, World! Hello, World! Hello, World!")

Hello, World! Hello, World! Hello, World!