In [1]:
# String ---> Anything whatever you put inside "" or ''  or """"""" or str(), will be treated as string.
# Basically set of characters --for ex. -- Name of a city, person etc..

Name = 'Amit'
Name_1 = "abhishek"
Name_2 = """Aditya"""

In [2]:
# Best Practice -- You should only follow this.
print(type(Name))

<class 'str'>

In [3]:
# This is not the best practice you should AVOID this.
type(Name)

str

In [4]:
# Numbers
# Integers --- Whole numbers and negative of counting numbers.
# Float -- Floating point numbers means decimal wale number.
# Complex -- a + ib --- a + bj

a = 100
b = 100.5
c = 2 + 3j

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [22]:
# List --> [] or list()

x = ["apple", "banana", "cherry"]

# display x:
print(x)

# display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [21]:
# Tuple --> (,) or tuple(())

x = ("apple", "banana", "cherry")

# display x:
print(x)

# display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [20]:
# range -->
x = range(6)

# display x:
print(x)

# display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [23]:
# dictionary --> {"key" : value}

x = {"name" : "John", "age" : 36}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [11]:
# Set

x = {"apple", "banana", "cherry"}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'banana', 'cherry', 'apple'}
<class 'set'>

In [12]:
x = frozenset({"apple", "banana", "cherry"})

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'banana', 'cherry', 'apple'})
<class 'frozenset'>

In [13]:
x = True

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

In [14]:
# Advance Indexing --> slice -- [Start:End:Step]

num = "0123456789"
print(num[1::2])

13579

In [17]:
name = "Manish"
# Ist way
print(name[0:5:2])

# 2nd way
print(name[::2])

Mns
Mns