In [3]:
my_tuple = (1, 2.6, 3+5j, True, False, "Abhishek")

In [4]:
my_tuple

(1, 2.6, (3+5j), True, False, 'Abhishek')

In [5]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [6]:
len(my_tuple)

6

In [7]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [8]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [10]:
x = ("apple", "banana", "cherry")
y = list(x)  # list() method
y[1] = "kiwi"
x = tuple(y) # tuple() method

print(x)

('apple', 'kiwi', 'cherry')

In [11]:
fruits = ("apple", "banana", "cherry") # Packing a tuple

(green, yellow, red) = fruits # unpacking a tuple

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [12]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [13]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [19]:
# interview -- > Exchange the value of two variables without creating a third one.

a = 5
b = 10

print("a:",a)
print("b:",b)

a: 5
b: 10

In [20]:
a,b = b,a
print("a:",a)
print("b:",b)

a: 10
b: 5